/*Keegan Buis, Registration Form (styles page), 11/05/2023*/
.cleanup{
display: block;
position: relative;
padding: 5px;
font-size: 1em;
}
.input{
position: absolute;
left: 20%;
font-size: .8em;
padding: 5px;
}
html{
background-image: url("background.avif");
background-repeat: no-repeat;
background-size: 1600px 1600px;
}
.box{
background-color: rgb(207, 197, 197);
width: 550px;
margin-left: auto;
margin-right: auto;
border-radius: 1%;
}
.radio-inline{

}
.radio{
    flex: 1 0 auto;
    display: flex;
    flex-direction: r;
    align-items: center;
}
h1{
font-size: 1.2em;
}

